* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  display: flex;
}
.content {
  text-align: center;
  position: relative;
  z-index: 10;
  width: 100%;
}
.content h1 {
  font-size: 25px;
  color: #fff;
  /* margin-bottom: 50px; */
  text-align: center;
  margin-left: 5vh;
}
.content a {
  font-size: 23px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 15px 25px;
  border-radius: 50px;
}
.content a:hover {
  background-color: #fff;
  color: #000;
  transition: 0.7s;
}
.background-clip {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.navbar {
  height: 12vh;
  width: 100%;
  border: 1px solid red;
  display: flex;
  align-items: center;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-size: 1.2rem;
  margin-left: 5rem;
  color: white;
  border: 1px solid red;
}
.jezik {
  margin-left: 7rem;
}
.jezik p {
  font-size: 1.2rem;
  color: white;
}
#engleski {
  margin-left: 0.5rem;
}
.login {
  margin-left: 10rem;
}
.login button {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}
