* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}
body {
  background-color: #222;
}
.nav {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .button {
  height: 9vh;
  margin: 1rem 0 0 1rem;
  /* border: 0px;s */
  background-color: #eee;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  color: #222;
}
.nav .background {
  margin: 1rem 2rem;
  background-color: #eee;
  width: 6rem;
  height: 3rem;
  display: flex;
  align-items: center;
  /* animation: background; */
  /* animation-duration: 2s; */
  cursor: pointer;
}
.nav .background .background-btn {
  height: 85%;
  margin-left: 4%;
  width: 45%;
  background-color: #222;
  border: 0;
  cursor: pointer;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title h1 {
  margin: auto;
  margin-top: 3rem;
  color: #eee;
  font-size: 2.8rem;
}
.title p {
  margin: auto;
  color: #eee;
  font-size: 1rem;
}
hr {
  border: 0;
  height: 8px;
  width: 100%;
  background-color: #eee;
  z-index: 1;
  position: relative;
  top: 4rem;
  /* display: block; */
}
.block {
  position: relative;
  margin: auto;
  width: 9rem;
  height: 7rem;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.block h1 {
  color: #222;
  font-size: 4rem;
}
.down {
  display: flex;
}
.left {
  width: 50%;
  height: 50vh;
}
.left form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left input {
  width: 15rem;
  height: 7rem;
  background-color: #222;
  border: 5px solid #eee;
  font-size: 3.5rem;
  color: #eee;
  text-align: center;
  margin: auto;
}
.left button {
  height: 4rem;
  width: 9rem;
  color: #222;
  background-color: #eee;
  font-size: 1.2rem;
  cursor: pointer;
  border: 0;
  margin: auto;
  margin-top: -2rem;
}

.right {
  width: 50%;
  height: 50vh;
}

.right h3 {
  color: #eee;
  margin-top: 1rem;
  font-weight: 500;
  margin-left: 3rem;
}
#first {
  margin-top: 5rem;
  color: #eee;
  font-weight: 500;
  margin-left: 5rem;
}
#second {
  margin-top: 2rem;
}
.div {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

#icon {
  margin-top: 14px;
  color: #eee;
  font-size: 26px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
